[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
sqlalchemy = "*"
faker = "*"
pytest = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
